[submodule "lib_logging"]
	path = lib_logging
	url = git@github.com:xmos/lib_logging.git
[submodule "test/Unity"]
	path = test/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "FreeRTOS"]
	path = test/FreeRTOS
	url = git@github.com:xmos/FreeRTOS.git
	branch = release/xcore-smp
[submodule "test/aiot_sdk"]
	path = test/aiot_sdk
	url = git@github.com:xmos/aiot_sdk.git
[submodule "test/lib_xassert"]
	path = lib_xassert
	url = git@github.com:xmos/lib_xassert.git
