[submodule "lib_logging"]
	path = lib_logging
	url = git@github.com:xmos/lib_logging.git
[submodule "test/Unity"]
	path = test/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "extern/FreeRTOS"]
	path = extern/FreeRTOS
	url = git@github.com:xmos/FreeRTOS.git
	branch = release/xcore-smp
[submodule "extern/aiot_sdk"]
	path = extern/aiot_sdk
	url = git@github.com:xmos/aiot_sdk.git
